<header class="container-fluid">

  <div class="cabecera row hidden-xs" style="background-color: white">

    <div class="col-sm-3 col-xs-8 principal" onclick="Javascript:window.open('http://www.smarthub.design', '_self');">
      <div class="logo "></div><!--algun logo izquierdo aqui 'logo gobierno'-->
    </div>

    <div class="col-sm-4 " style="text-align:center; "> <!--algun logo central aqui 'logo rue'-->
      <%= image_tag("kawasaki_logo_2.jpg", style: "height:130px; width:700px;")%> <!--algun logo central aqui-->
    </div>

    <div class="col-sm-offset-1 col-sm-3"> <!--algun logo derecho aqui 'logo gobierno'-->
    </div>

  </div>

  <%= render :partial => "layouts/menu" %>

</header>
